**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [7]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))

for table in tables: 
    print(table.table_id)

crime

In [8]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [15]:
# Write the code to figure out the answer
table_ref = dataset_ref.table('crime')
table = client.get_table(table_ref)

num_timestamp_fields = 0
for field in table.schema:
    if field.field_type == 'TIMESTAMP': num_timestamp_fields += 1
        
f"There are {num_timestamp_fields} TIMESTAMP fields in the TABLE"

'There are 2 TIMESTAMP fields in the TABLE'

In [14]:
num_timestamp_fields = num_timestamp_fields # Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [19]:
for field in table.schema:
    print(field.name)

unique_key
case_number
date
block
iucr
primary_type
description
location_description
arrest
domestic
beat
district
ward
community_area
fbi_code
x_coordinate
y_coordinate
year
updated_on
latitude
longitude
location

In [25]:
fields_for_plotting = ['x_coordinate', 'y_coordinate'] # Put your answers here

# Check your answer
q_3.check()

`'latitude'` and `'longitude'` would be better and more standard than `'x_coordinate'` and `'y_coordinate'`, but this might work.

Correct

For a hint or the solution, uncomment the appropriate line below.

In [26]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [29]:
# Scratch space for your code
client.list_rows(table=table, max_results = 5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,3723,HM509037,2006-07-30 02:52:00+00:00,000XX E 105TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,9,49,01A,1178264.0,1835337.0,2006,2022-09-19 03:41:05+00:00,41.703472,-87.622846,"(41.703471629, -87.62284629)"
1,20294,HV178038,2012-02-29 06:51:00+00:00,005XX E 104TH PL,0110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,False,False,...,9,49,01A,1181956.0,1835794.0,2012,2022-09-01 03:42:17+00:00,41.704641,-87.609313,"(41.704641317, -87.609312999)"
2,6678503,HP753332,2008-12-27 04:00:00+00:00,104XX S MICHIGAN AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,9,49,02,1178889.0,1835859.0,2008,2018-02-28 03:56:25+00:00,41.704890,-87.620542,"(41.704889896, -87.620541865)"
3,4761651,HM372098,2006-05-22 09:30:00+00:00,103XX S MICHIGAN AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,OTHER,False,False,...,9,49,02,1178923.0,1836254.0,2006,2018-02-28 03:56:25+00:00,41.705973,-87.620405,"(41.705973058, -87.620405387)"
4,8846870,HV520147,2012-10-15 09:00:00+00:00,104XX S MICHIGAN AVE,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,STREET,False,False,...,9,49,03,1178893.0,1835938.0,2012,2018-02-10 03:50:01+00:00,41.705107,-87.620525,"(41.705106592, -87.620524823)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*